@font-face {
  font-family: 'Lato-Regular';
  src: url(../Type/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(../Type/Lato-Bold.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: 'MerriweatherSans-Regular';
  src: url(../Type/MerriweatherSans-Regular.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: 'MerriweatherSans-Bold';
  src: url(../Type/MerriweatherSans-Bold.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: 'MerriweatherSans-light';
  src: url(../Type/MerriweatherSans-Light.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

/*-------------------------------Estilos generales-------------------------------*/

html {
  font-family: 'Lato-Regular'; /*cambié a lato porque es la fuente para textos*/
  font-size: 16px;
  width: 100%;

  /* mauro */
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;/*agregado x  mauro  para landing */
  width: 100%;/*agregado x  mauro  para landing */
 }


p {
  font-family: 'Lato-Regular'; /*cambié a lato porque es la fuente para textos*/
  color: #092834;
  font-size: 14px;
}

a {
  font-family: 'MerriweatherSans-Bold';
  color: #092834;
}

a:hover {
  text-decoration: none;
  color: #347B98;
}





h5 {
  font-family: 'MerriweatherSans-bold';
  color: #092834;
  font-size: 17px;
}


/*-------------------------------Header y navegación-------------------------------*/
/*----------------------------
	      landing Page
-----------------------------*/

#tracker{
  position: absolute;  
  top: calc(50vh - 75%);
  left: calc(50vw - 307px);
  border-radius: 50%;
  /* opacity: .98; */
  pointer-events: none;
  box-sizing: border-box;
}
#tracker:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-shadow:0 0 0 9999px rgba(0,12,19,0.98);
  box-sizing: border-box;
  filter: blur(1px);
}



@media(min-width: 400px){
  #tracker:after{
    height: 600px;
    width: 600px;
  }
  .logo_landing{
    height: 40px;
  }
}

@media(max-width: 399px){
  #tracker:after{
    height: 400px;
    width: 400px;
  }
  .logo_landing{
    height: 20px;
  }
}





.circulo_buscador{
  z-index:3; 
  min-height: 500px; 
  max-height: 500px;
  background-image: url(../img/circulo_buscador_landing.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain; 
  /* overflow:hidden;  */
  /* top: 20px; */
}




#bloque{
  display: table-cell;
  vertical-align: middle;
}

.inputbuscador2[type=text] {
  font-family: 'MerriweatherSans-Regular','Oswald', sans-serif;
  font-size: 25px;
  text-align: center;
  border: 1px solid #FFF;
  color: rgba(246, 247, 248,1 );
  background-color:  rgba(0,12,19,0);
  
}

.inputbuscador2::placeholder {
  font-family: 'MerriweatherSans-Regular';
  color: #fff;
}

.inputbuscador2:focus {
  outline: none;
  outline-width: 0;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
 
.flex {
  display: flex;
 }
 
 
 
 .intro {
  width: 100%;
  height: 100%;
  display: grid;
  overflow:hidden ;
  transition: 1s linear;
}

.scroll {
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 5%;
  transition: all 0.5s ease;
  margin-bottom: -1px;
}

.scroll:hover {
  height: 6%;
}

.scroll img {
  height: 100%;
  width: 100%;
}

.scroll p {
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.scroll p {
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;

}


/*----------------------------
         Header
-----------------------------*/

div.barra-superior { /*modifica barra superior*/
  min-height: 15px;
  background-color: #092834;
}

nav { /*alinea texto en navbar*/
  text-align: center;
}
 
/*----------------------------
	     input buscador
-----------------------------*/

.inputbuscador[type=text] {/*modifica el estilo de texto introducido por el usuario*/
  font-family: 'MerriweatherSans-Regular', sans-serif;
  color: white;
  background-color: #092834;
  font-size: 15px;
  text-align: center;
  text-decoration-color: #ffffff;
  height: 28px;
}

.inputbuscador::placeholder { /*estilo de texto predeterminado "¿Qué quieres encontrar hoy?" */
  font-family: 'MerriweatherSans-Regular';
  color: #fff;
}

.fila-centrada {/*forza al input alargarse para compensar el ancho*/
  width: 100%;
}

/* //hide nasty ie clear thingie */
.input-group.with-icon>input::-ms-clear{display:none}

/* //general placement stuffs */
.input-group.with-icon>img {
  /* -webkit-transform: translate(-1vw, -225px);
  -ms-transform: translate(-1vw, -225px);
  transform: translate(-1.5vw, 0px); */
  pointer-events: none;
  position: relative;
  width: 16px;
  z-index: 3;
  top: 0%; 
}
/* //icon right (default) */
.input-group.with-icon>img,
.input-group.with-icon.icon-right>img{
right: .7rem;
}
.input-group.with-icon>input,
.input-group.with-icon.icon-right>input {
padding-right: 1.7rem;
}

/*----------------------------
	     menu de secciones 
-----------------------------*/

div.botones-pestanas { /*aplica la linea superior del menu y controla el alto*/
  border-top: 1px solid #092834;
  min-height: 45px;
}

.botones-pestanas a { /*estilo de botones*/
  font-family: 'MerriweatherSans-Bold';
  color: #092834;
  font-size: 15px;
}

.botones-pestanas a:hover,
.botones-pestanas a:active {
  /*estilo boton sobre*/
  border-top: 3px solid #FF026A;
}



/*-------------------------------Pagina de resultados-------------------------------*/

/*-------------------------------Opciones de visualización de resultados-------------------------------*/

div.opciones_resultados {/*aplica la linea inferior del menu y controla el alto*/
  border-bottom: 1px solid #092834;
  min-height: 45px;
}

/*----------------------------
	        Breadcrumb 
-----------------------------*/

.breadcrumb-item {/*estilo de elementos*/
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 15px;
}

/*----------------------------
    Cantidad de Resultados 
-----------------------------*/
span.facetadorbarradenavegacion {
  font-family: 'MerriweatherSans-Bold';
  color: #347B98;
}

.resultados_pagina {/*estilo de opciones de dropdown*/
  font-family: 'MerriweatherSans-Bold';
  color: #347B98;
  font-size: 14px;
  height: 30px;
  padding: 5;
  width: 58px;
}
.resultados_pagina:focus {
  outline: none;
  outline-width: 0;
  border-color: #347B98;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*----------------------------------------
   Barra Cambio de modo de visualización
----------------------------------------*/
.icono_modos_visualizacion {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  color:#092834;
  font-size: 20px;
}

.button-group input {
  display: none;
}

.button-group label {
  font-size: 16px;
  font-family: 'Lato-Regular';
  color: #092834;
  cursor: pointer; 
}

.button-group input:hover+label,
.button-group input:hover+label:active {/*estilo sobre*/
  color: #347B98;

}

.button-group input:checked+label,
.button-group input:checked+label:active {/*estilo activo*/
  color: #347B98;

}





/*-------------------------------MENU Facetador (opciones de menu)-------------------------------*/

.nav-side-menu {/*controla estilos generales de la barra de menu*/
  font-family: 'MerriweatherSans-Regular';
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  background-color: #fff;

  top: 0px;
  width: 100%;
  height: 100%;
  color: #092834;
}

.nav-side-menu .brand {
  font-family: 'MerriweatherSans-Bold';
  background-color: #fff;
  color: #092834;
  line-height: 28px;
  display: block;
  text-align: center;
  font-size: 18px;
}

.nav-side-menu .toggle-btn {/*botón hamburguesa responsivo del facetador*/
  display: none;
}

/*----------------------------
	        Facetas 
-----------------------------*/
.facetas {/*configuración de contenedor de facetas*/
  background-color: #092834;
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
}

.out a {/*estilo general de textos*/
  font-family: 'MerriweatherSans-Bold';
  font-size: 14px;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 30px;
  cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #fff;
  border: none;
  line-height: 28px;
  /* Margen superior contenedor de opciones */
  /* margin-top: 10px; */
  /* Margen superior contenedor de opciones */
  /* margin-bottom: 10px; */
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.sub-menu li {/* estilo de menu anidado */
  color: #092834;
  font-family: 'MerriweatherSans-Bold';
}

.nav-side-menu li {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #fff;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  background-color: #0a3241;
}

/*----------------------------
	          Autor
-----------------------------*/

.autor {
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 11px;
  height: 23px;
  padding: 5;
  /* remueve el estilo por defecto del navegador */
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  border: 1px solid #092834;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.autor::placeholder {/* estilo de texto predeterminado "Autor" */
  font-family: 'MerriweatherSans-Bold';
  color: #092834;
}

/*----------------------------
	           Años
-----------------------------*/

.años {/*estilo rango de años*/
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 11px;
  height: 23px;
  padding-left: 5px;
  /*remueve el estilo por defecto del navegador*/
  -webkit-appearance: none;
  -mox-appearance: none;
  -o-appearance: none;
  appearance: none;

  border: 1px solid #092834;
  border-radius: 4px;

  cursor: pointer;
  outline: none;
}

.años::placeholder {/* */
  font-family: 'MerriweatherSans-Bold';
  color: #092834;
}

/*----------------------------
	  Dropdown radio en menú
-----------------------------*/

.custom-select {
  padding: 3.5px;
}

.radio_facetador {
  font-family: 'MerriweatherSans-Bold';
  color: #092834;
  font-size: 11px;
  height: 23px;
  padding-left: 5px;
  /* remueve el estilo por defecto del navegador */
  -webkit-appearance: none;
  -mox-appearance: none;
  -o-appearance: none;
  appearance: none;

  border: 1px solid #092834;
  border-radius: 4px;

  cursor: pointer;
  outline: none;
}

/*----------------------------
	        Botones
-----------------------------*/

.boton_limpiar_formulario {
  font-family: 'MerriweatherSans-Bold';
  color: #092834;
  background-color: #fff;
  font-size: 11px;
  height: 30px;
  padding-left: 5px;

  /* remueve el estilo por defecto del navegador */
  -webkit-appearance: none;
  -mox-appearance: none;
  -o-appearance: none;
  appearance: none;

  border: 2px solid #092834;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

/*----------------------------
	        CheckBox
-----------------------------*/

.checkbox_1 {
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  margin-right: 10px;
  
}

.checkbox_1>span {
  padding: 0 .25rem;
}

.checkbox_1>input {
  width: 13px;
  height: 13px;
  /* remueve el estilo por defecto del navegador */
  -webkit-appearance: none;
  -mox-appearance: none;
  -o-appearance: none;
  appearance: none;

  background-color: #f2f2f2;
  border: 1.4px solid #092834;
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  transition-duration: 0.3s;
}

.checkbox_1>input:checked {
  /* border: 2px solid #092834; */
  background-color: #092834;
}

/* cherckbox, verificacado estilo */
.checkbox_1>input:checked+span::before {
  color: #092834;
  content: "\2713";
  text-align: center;

  display: block;
  position: absolute;
}

/* .checkbox_1>input:active {
  border: 1.6px solid #092834;
} */

.checkbox_1>input:focus+label::before {
  outline: #092834 solid 1px;
  box-shadow: 0 0px 8px #092834;
}

/*----------------------------
	        Breakpoints
-----------------------------*/

@media (max-width: 993px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: rgb(9, 40, 52);
    width: 40px;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

@media (min-width: 992px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  #main {
    width: calc(100% - 300px);
    float: right;
  }

}

/*-------------------------------Resultados de búsqueda-------------------------------*/

/*----------------------------
	          Tabla
-----------------------------*/

.card {
  border: 2px solid #092834;
}

.label_objeto {
  background-color: #092834;
  width: 34px;
  height: 55px;
}

.icono_objetodigital {
  position: relative;
  top: 18px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  font-size: 25px;
  color: #347B98;
  background-color: #fff;
}

.boton_agregar_a_coleccion {
  z-index: 1;
}

@media(max-width:767px) {
  h4 {
    font-size: 12px;
  }
  p.card-text {
    font-family: 'MerriweatherSans-Regular';
    margin: 0px;
    font-size: 11px;
    font-weight: 200;
    line-height: normal;
  }
  .imagen-superior {
    min-height: 100px;
    min-width: 100%;
    background-color: #fff;
    margin-top: -0.5px;
  }
  
  .img-responsiva {
    max-height: 100px;
    object-fit: contain;
  }

}

@media(min-width:768px) {
  h4 {
    font-size: 15px;
  }
  p.card-text {
    font-family: 'MerriweatherSans-Regular';
    margin: 0px;
    font-size: 14px;
    font-weight: 200;
    line-height: normal;
  }
  .imagen-superior {
    min-height: 139px;
    min-width: 100%;
    background-color: #fff;
    margin-top: -0.5px;
  }
  
  .img-responsiva {
    max-height: 139px;
    object-fit: contain;
  }
}

/*----------------------------
	         Mosaico
-----------------------------*/

@media (max-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 767px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

/*----------------------------
	         lista
-----------------------------*/
.imagen-superior_lista {
  max-height: 140px;
  min-width: 25%;
  background-color:none;
  margin-top: -0.5px;
}

.img-responsiva_lista {
  min-height: 140px;
  object-fit: contain;
}

.table th{
  font-family: 'MerriweatherSans-Bold';
  font-size: 14px;
  color: #092834;
  border: none;
  border-bottom: 1px solid rgba(9, 40, 52, .5);
  border-right: 1px solid rgba(9, 40, 52, .5);
}

.table td{
  font-family: 'MerriweatherSans-regular';
  font-size: 12px;
  color: #092834;
  border: none;
  border-bottom: 1px solid rgba(9, 40, 52, .5);
}

th.ident{
  font-family: 'MerriweatherSans-Bold';
  font-size: 14px;
  color: #092834;
  border: none;
  border-right: 1px solid rgba(9, 40, 52, .5);
  width: 30%;
}

 td.ident{
  font-family: 'MerriweatherSans-regular';
  font-size: 12px;
  color: #092834;
  border: none;
  width: 70%;
}


/*-------------------------------------------
  Paginador (Muestra paginas de resultados)
-------------------------------------------*/

.page-link {
  font-family: 'MerriweatherSans-Bold';
  font-size: 16px;
  color: #092834;
  border: none;
}

.page-link:hover {
  color: #347B98;
  background-color: rgb(255, 255, 255);
}

.page-item.active .page-link {
  z-index: 1;
  color: #347B98;
  background-color: #fff;
  border-color: #fff;
}

/*-------------------------------Footer-------------------------------*/

footer {
  width: 100%;
}

ul.memoria-redes {
  font-size: 30pt;
  /*Tamaño preliminar*/
}

ul.memoria-redes li {
  display: inline;
  padding-left: 5px;
  font-size: 20pt;
}

footer li {
  list-style-type: none;
}

footer a {
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 14px;
}

footer a:hover {
  text-decoration: none;
  color: #347B98;
}

footer li {
  margin-bottom: 1px;
}

@media (max-width: 692px) {
  .contenedor-izquierdo {
    border-right: none;
  }

  .contenedor-derecho {
    padding-top: 10px;
  }

  .contenedor-derecho img {
    height: 50px;
  }
}

@media (min-width: 693px) {
  .contenedor-izquierdo {
    border-right: 1px solid #092834;
  }

  .contenedor-derecho {
    padding-top: 0px;
  }

  .contenedor-derecho img {
    height: 70px;
  }
}
/*-----------------------------Páginas de acervos y temas-----------------------------*/

p#memoria-texto-descripcion { /*texto que describe un acervo o un tema*/
  font-family: 'Lato-Regular';
  font-size: 18px;
  line-height: 1.2;
}

p.card-text {
  font-family: 'Lato-Regular';
}

.abrir-y-cerrar a {
  color: #092834;
  background-color: #f4f9e0;
  transition: all .2s ease-in-out .05s;
}

.abrir-y-cerrar a:hover {
  /*Animación de hover de título de acordeón*/
  background-color: #B2D732;
}

.breadcrumb-item a { /*estilos para breadcrumb, cuidar que no choque con el de memo*/
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 14px;
}

.card-title { /*subtítulos de sección*/
  font-family: 'MerriweatherSans-Bold';
  font-size: 18px;
}

#myTab a.active {
  color: #092834;
  background-color: #f4f9e0;
  border: none;
  border-bottom: .0px solid #B2D732;
  transition: all .2s ease-in-out .05s;
}

#myTab a:hover {
  color: #092834;
  background-color: #B2D732;
}

ul#myTab {
  border-bottom: 2px solid #B2D732;
}

.card-header { /*Título de cédula, sección acordeón*/
  background-color: #f4f9e0;
  cursor: pointer;
  height: 3rem;
  transition: all .2s ease-in-out .05s;
}

.card-header:hover { /*Animación de hover de título de acordeón*/
  background-color: #B2D732;
}

.card-header h5 { /*Texto de título de cédula, sección acordeón*/
  color: #092834;
  font-family: 'MerriweatherSans-Bold';
  font-size: 16px;
  padding: 0;
}

.memoria-dropdowns { /*Barra que contiene los dropdowns de árbol*/
  padding: auto, 0px;
  border: solid #B2D732;
}

.dropdown-acervo { /*Dropdown individual*/
  -webkit-appearance: none;
  -mox-appearance: none;
  -o-appearance: none;
  appearance: none;
  /* custom styling */
  font-family: 'MerriweatherSans-Bold';
  color: #092834;
  font-size: 14px;
  height: 23px;
  padding-left: 5px;
  border: none;
  cursor: pointer;
  outline: none !important;
}

#submit {
  padding-right: 0;
}

#buscar-fondo { /*Botón de buscar acervo*/
  font-family: 'MerriweatherSans-Bold';
  font-size: 14px;
  border: solid #092834;
  border-radius: 0%;
  color: #092834;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

#buscar-fondo:hover { /*Animación de hover de botón de acervo*/
  color: #fff;
  background-color: #092834;
}

/*---------------------
Íconos dínamicos de + y -
para la cédula
---------------------*/

.card-header>a:before {
  float: right !important;
  font-family: "Font Awesome 5 Free";
  content: "\f068";
  padding-right: 5px;
}

.card-header>a.collapsed:before {
  float: right !important;
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  padding-right: 5px;
}

.card-header>a:hover,
.card-header>a:active,
.card-header>a:focus {
  text-decoration: none;
}

.card-header>a {
  text-decoration: none;
}

/*-------------------------------Íconos-------------------------------*/
@font-face {
  font-family: 'fontello';
  src: url('./Type/fontello/font/fontello.eot?46998757');
  src: url('./Type/fontello/font/fontello.eot?46998757#iefix') format('embedded-opentype'),
    url('./Type/fontello/font/fontello.woff?46998757') format('woff'),
    url('./Type/fontello/font/fontello.ttf?46998757') format('truetype'),
    url('./Type/fontello/font/fontello.svg?46998757#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-compartir {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  color: #347B98;
  font-size: 170%;
}

.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  color: #FFF;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  font-size: 400%;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
/*------------------------------Estilos de Mauricio------------------------------*/

/*agregado por mauro: estilos de páginas (estilos generales)*/


.texto2columnas {
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 14px;
  column-count: 2;
  column-gap: 40px;
  column-width: 240px;
}


/*---------------------
     Mapa de sitio
---------------------*/

/*agregado por mauro para Mapa de sitio*/
.tipomapadesitio {
  /* para quitar negrita a los vínculos */
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 14px;
}







/*---------------------
     objeto mensual
---------------------*/


section {
	width: 100%;
	/* margin: 70px auto; */
   
}

/* Simple Slider */
.white-back{
	/* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
	background: #fff;
}
.simple blockquote p {
  /* margin-top:7%;
	border-top: 1px solid #ccc; */
	/* border-bottom: 1px solid #ccc; */
	color: #01050a;
	padding: 15px;
	/* font-size: 1.25em; */
}

.slick-dots li.slick-active button:before {
  color: #347b98;
}

.slick-dots li button:before{
  color: #163642;
}

.agrandafoto{
  max-width: 340px;
}


.agrandafoto:hover{
  max-width: 380px;
  transition: 0.1s linear; 
}




/*---------------------
    pagina contacto
---------------------*/

.contact-form {
  padding: 30px;
  margin: 10px;
  font-size: 15px;
  font-family: 'MerriweatherSans-bold';
  border: 3px solid #c2e01a;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .form-control,
.contact-form .btn {
  min-height: 38px;

}

.contact-form .form-control {
  border: 0px;
  border-bottom: 1px solid rgb(192, 191, 191);
}

.contact-form .form-control:focus {
  box-shadow: 0 0 8px #b5b81e;
}

.contact-form .btn-primary {
  min-width: 50px;
  color: #000;
  background: #fff;
  margin-top: 20px;
  border: none;
}

.contact-form .btn-primary:hover {
  color: #b5b81e;
}

.contact-form .btn-primary i {
  margin-right: 20px;
}

button {
  color: #000;
}

.contact-form label {
  opacity: 0.8;
}

.contact-form textarea {
  resize: vertical;
}

.bs-example {
  margin: 20px;
}


/*---------------------
    destacados Inicio
---------------------*/

.destacado{
  border: 2px solid  #092834;
  
}



.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
}

.favicom {
  font-size: 25px;
}



.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.target {
  mask: url("ejemplo_basico.svg#c1");
  -webkit-mask: url("ejemplo_basico.svg");
}


.text-container {
  height: 100%;
  width: 100%;

}

.ordernow {
  cursor: pointer;
}




/*-------------------------------Estilos irreconocibles-------------------------------*/
.memoria-buscador input {
  text-align: center;
  color: firebrick;
}

div.memoria-timeline {
  background-color: #000;
  height: 500px;
  /*Tamaño preliminar*/
}

div.memoria-pestanas {
  /*Tamaño preliminar*/
  position: sticky;
  top: 156px;
  /*Tamaño preliminar*/
  background-color: gainsboro;
  z-index: 1;
}

.memoria-dropdown-scroll { /*no me acuerdo qué hace, creo no hace nada*/
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

